test.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "09b8d59d-34e9-4efc-9f2e-f3ac6ea32d3b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -848,
        -64
      ],
      "id": "02b47df7-1f66-4c68-ac5d-3743e100828a",
      "name": "Webhook",
      "webhookId": "09b8d59d-34e9-4efc-9f2e-f3ac6ea32d3b"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "done": false,
            "id": 5,
            "title": "={{ $json.body.title }}",
            "description": "={{ $json.body.description }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "done",
              "displayName": "done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        -176
      ],
      "id": "95ad2f65-0138-46d8-86c7-019fea7ad175",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "xS3PDGSG2SqDuEKe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "queue": "task_created",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        80,
        -176
      ],
      "id": "d05625c3-c05d-4fa0-b4b5-ec9756740208",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "lzYEtlaagh3yZJKB",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35e43bb6-7e35-4142-864a-8e7855b367d3",
              "leftValue": "={{ $json.body.title }}",
              "rightValue": "undefined",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        -64
      ],
      "id": "963c913b-ae0d-4e4c-9ea5-4caa68744be8",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "400: Le champ 'title' est obligatoire."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -176,
        80
      ],
      "id": "a61bb7ad-5f05-4da9-acd5-18ff4c0aec8f",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fa0fe75-3077-48b0-8198-ed329914ed46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f38b2142f849972793f5cf720ddddf4b2c4f9735e05233ce32014d509210b5d7"
  },
  "id": "aUBriEU3mbOucWmJ",
  "tags": []
}